

<a asp-action="Index" asp-controller="category" class="@const_button.Outline">
        @resx_Home_Index.ListCategory
</a>
<a asp-action="Index" asp-controller="product" class="@const_button.Outline">
    @resx_Home_Index.ListProduct
</a>