

<div class="dropdown mt-2">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
        @resx_Home_Index.Menu
    </button>
    <ul class="dropdown-menu">
       
        <li>
            <a class="dropdown-item" asp-action="Index" asp-controller="category"> @resx_Home_Index.ListCategory</a></li>
        <li><a class="dropdown-item" asp-action="Index" asp-controller="product"> @resx_Home_Index.ListProduct</a></li>
    </ul>
</div>
