USE [master]
GO
/****** Object:  Database [SportsStore]    Script Date: 27.10.2025 г. 16:16:03 ******/
CREATE DATABASE [SportsStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SportsStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SportsStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SportsStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SportsStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SportsStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SportsStore]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 27.10.2025 г. 16:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CNAME] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_PREVIEW]    Script Date: 27.10.2025 г. 16:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_PREVIEW](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NULL,
	[PREVIEW] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 27.10.2025 г. 16:16:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PNAME] [nvarchar](100) NOT NULL,
	[PDESC] [nvarchar](max) NOT NULL,
	[PRICE] [decimal](10, 2) NULL,
	[PCATEGORY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([ID], [CNAME]) VALUES (7, N'Риба и морски продукти')
INSERT [dbo].[CATEGORY] ([ID], [CNAME]) VALUES (12, N'Канцеларски материали')
INSERT [dbo].[CATEGORY] ([ID], [CNAME]) VALUES (13, N'Зеленчуци')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_PREVIEW] ON 

INSERT [dbo].[PRODUCT_PREVIEW] ([ID], [PRODUCT_ID], [PREVIEW]) VALUES (1, 3, N'HLQB.JPG')
INSERT [dbo].[PRODUCT_PREVIEW] ([ID], [PRODUCT_ID], [PREVIEW]) VALUES (2, 3, N'HLQB 2.JPG')
INSERT [dbo].[PRODUCT_PREVIEW] ([ID], [PRODUCT_ID], [PREVIEW]) VALUES (3, 4, N'M.JPG')
SET IDENTITY_INSERT [dbo].[PRODUCT_PREVIEW] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([ID], [PNAME], [PDESC], [PRICE], [PCATEGORY]) VALUES (3, N'HLQB', N'OK HLQB', CAST(8.00 AS Decimal(10, 2)), 13)
INSERT [dbo].[PRODUCTS] ([ID], [PNAME], [PDESC], [PRICE], [PCATEGORY]) VALUES (4, N'MLAKO', N'OK MLQKO', CAST(5.00 AS Decimal(10, 2)), 14)
INSERT [dbo].[PRODUCTS] ([ID], [PNAME], [PDESC], [PRICE], [PCATEGORY]) VALUES (15, N'краставици', N'Краставици от Фрут Корект', CAST(15.99 AS Decimal(10, 2)), 13)
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
ALTER TABLE [dbo].[PRODUCT_PREVIEW]  WITH CHECK ADD FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCTS] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([PCATEGORY])
REFERENCES [dbo].[CATEGORY] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
USE [master]
GO
